<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yggr_modules-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2223CE11AB83CC700C54BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2223CED1AB83E3300C54BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F8CCFD198C78EC00A860E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F8CD0D198C78EC00A860E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
